body,h2,h3,h4,ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
input{
  outline: 0;
  padding: 0;
  border-width: 0;
}
a{
  text-decoration: none;
  color: #95aacc;
}
.scollbox::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
.scollbox::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
.scollbox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 0;
  background: rgba(0,0,0,0.1);
}