/*PC样式900-1600之间*/
.main {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.main .main-1 {
  flex-grow: 0.8;
  max-width: 8%;
  overflow-y: auto;
  overflow-x: hidden;
  height: inherit;
  background-color: #ffffff;
}
.main .main-1 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main-1 ul li {
  height: 90px;
}
.main .main-1 ul li a {
  font-size: 23px;
}
.main .main-1 ul li a:hover i {
  color: #2787f5;
}
.main .main-1 ul li:nth-child(7) a {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.main .main-1 ul li:nth-child(7) a img {
  max-height: 48px;
  max-width: 48px;
}
.main .main-1 ul li:nth-child(1) {
  margin-top: 60px;
  height: 120px;
}
.main .main-3 {
  height: inherit;
  flex-grow: 3.2;
  max-width: 32%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f6f9fb;
}
.main .main-3 .cneter {
  width: 86%;
  margin: 0 auto;
}
.main .main-3 .subchats .subTitle {
  position: relative;
}
.main .main-3 .subchats .subTitle h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .main-3 .subchats .subTitle i {
  position: absolute;
  left: 5px;
  bottom: 19px;
  font-size: 18px;
}
.main .main-3 .subchats .subTitle input {
  width: 100%;
  height: 56px;
  border-radius: 20px;
  background-color: #ebf1f7;
  text-indent: 2.5em;
}
.main .main-3 .subchats .subContent {
  margin-top: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;
}
.main .main-3 .subchats .subContent .group {
  width: 90%;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .main-3 .subchats .subContent .group .group-left {
  text-align: center;
  flex: 1;
  overflow: hidden;
}
.main .main-3 .subchats .subContent .group .group-left img {
  border-radius: 50%;
  max-height: 56px;
  transition: transform 0.5s;
}
.main .main-3 .subchats .subContent .group .group-left:hover > img {
  transform: scale(1.1);
}
.main .main-3 .subchats .subContent .group .group-right {
  flex: 4;
}
.main .main-3 .subchats .subContent .group .group-right .msg-title {
  margin-bottom: 10px;
  overflow: hidden;
}
.main .main-3 .subchats .subContent .group .group-right .msg-title .username {
  float: left;
}
.main .main-3 .subchats .subContent .group .group-right .msg-title .lasttime {
  float: right;
  font-size: 13px;
  color: darkgray;
}
.main .main-3 .subchats .subContent .group .group-right .msg-con {
  font-size: 13px;
  padding-left: 10px;
  cursor: pointer;
}
.main .main-3 .subchats .subContent .bottom {
  width: 90%;
  margin: 0px auto;
  border-top: solid 3px #f5f8fb;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main .main-3 .subchats .subContent .bottom ul {
  overflow: hidden;
  line-height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(1) {
  flex: 2;
  max-width: 20%;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(1) img {
  max-height: 46px;
  transition: transform 0.5s;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(1):hover img {
  transform: scale(1.1);
}
.main .main-3 .subchats .subContent .bottom li:nth-child(2) {
  font-size: 13px;
  flex: 3;
  max-width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(3) {
  flex: 5;
  max-width: 50%;
  position: relative;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(3) img {
  max-height: 36px;
  position: absolute;
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(3) img:nth-child(1) {
  left: 30px;
  z-index: 1;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(3) img:nth-child(2) {
  left: 50px;
  z-index: 2;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(3) img:nth-child(3) {
  left: 70px;
  z-index: 3;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(3) img:nth-child(4) {
  left: 90px;
  z-index: 4;
}
.main .main-3 .subchats .subContent .bottom li:nth-child(3) img:nth-child(5) {
  left: 110px;
  z-index: 5;
}
.main .main-3 .subchats .subContent .fixed-right {
  position: absolute;
  top: 0;
  right: -15px;
  cursor: pointer;
  color: #ebf1f7;
}
.main .main-3 .subchats .subContent .fixed-right:hover {
  color: turquoise;
}
.main .main-3 .addchats .subTitle {
  position: relative;
}
.main .main-3 .addchats .subTitle h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .main-3 .addchats .subTitle i {
  position: absolute;
  left: 5px;
  bottom: 19px;
  font-size: 18px;
}
.main .main-3 .addchats .subTitle input {
  width: 100%;
  height: 56px;
  border-radius: 20px;
  background-color: #ebf1f7;
  text-indent: 2.5em;
}
.main .main-3 .addchats .subPeople h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.main .main-3 .addchats .subPeople .people {
  margin-bottom: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: #ffffff;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .main-3 .addchats .subPeople .people li:nth-child(1) {
  flex: 3;
  max-width: 30%;
}
.main .main-3 .addchats .subPeople .people li:nth-child(1) img {
  max-height: 56px;
  border-radius: 50%;
  transition: transform 0.5s;
}
.main .main-3 .addchats .subPeople .people li:nth-child(1) img:hover {
  transform: scale(1.1);
}
.main .main-3 .addchats .subPeople .people li:nth-child(2) {
  text-align: start;
  flex: 5;
  max-width: 50%;
}
.main .main-3 .addchats .subPeople .people li:nth-child(2) h3 {
  font-size: 14px;
}
.main .main-3 .addchats .subPeople .people li:nth-child(2) span {
  font-size: 12px;
}
.main .main-3 .addchats .subPeople .people li:nth-child(3) {
  flex: 2;
  max-width: 20%;
}
.main .main-3 .addchats .fixedBottom {
  position: fixed;
  bottom: 10px;
  height: 60px;
  background-color: #2787f5;
  border-radius: 10px;
  cursor: pointer;
}
.main .main-3 .addchats .fixedBottom span {
  float: left;
  line-height: 60px;
  margin-left: 10px;
}
.main .main-3 .addchats .fixedBottom i {
  float: right;
  line-height: 60px;
  font-size: 20px;
  margin-right: 10px;
}
.main .main-3 .addchats .fixedBottom:hover {
  filter: hue-rotate(30deg);
}
.main .main-3 .friends .subTitle {
  position: relative;
}
.main .main-3 .friends .subTitle h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .main-3 .friends .subTitle i {
  position: absolute;
  left: 5px;
  bottom: 19px;
  font-size: 18px;
}
.main .main-3 .friends .subTitle input {
  width: 100%;
  height: 56px;
  border-radius: 20px;
  background-color: #ebf1f7;
  text-indent: 2.5em;
}
.main .main-3 .friends .frePeople h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.main .main-3 .friends .frePeople .people {
  margin-bottom: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: #ffffff;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .main-3 .friends .frePeople .people li:nth-child(1) {
  flex: 3;
  max-width: 30%;
}
.main .main-3 .friends .frePeople .people li:nth-child(1) img {
  max-height: 56px;
  border-radius: 50%;
  transition: transform 0.5s;
}
.main .main-3 .friends .frePeople .people li:nth-child(1) img:hover {
  transform: scale(1.1);
}
.main .main-3 .friends .frePeople .people li:nth-child(2) {
  text-align: start;
  flex: 5;
  max-width: 50%;
}
.main .main-3 .friends .frePeople .people li:nth-child(2) h3 {
  font-size: 14px;
}
.main .main-3 .friends .frePeople .people li:nth-child(2) span {
  font-size: 12px;
}
.main .main-3 .friends .frePeople .people li:nth-child(3) {
  flex: 2;
  max-width: 20%;
  position: relative;
  cursor: pointer;
}
.main .main-3 .friends .frePeople .people li:nth-child(3) .editFixed {
  position: absolute;
  z-index: 6;
  right: 20px;
  bottom: -110px;
  border: dashed 1px green;
  border-radius: 10px;
  cursor: pointer;
}
.main .main-3 .friends .frePeople .people li:nth-child(3) .editFixed span {
  display: block;
  line-height: 20px;
  border-top: solid 1px green;
}
.main .main-3 .friends .frePeople .people li:nth-child(3) .editFixed p {
  width: 120px;
  line-height: 36px;
  border-radius: 10px;
  overflow: hidden;
}
.main .main-3 .friends .frePeople .people li:nth-child(3) .editFixed p:hover {
  background-color: yellowgreen;
}
.main .main-3 .friends .frePeople .people li:nth-child(3) .editFixed .delete-red:hover {
  background-color: red;
}
.main .main-3 .notifications .subTitle {
  position: relative;
}
.main .main-3 .notifications .subTitle h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main .main-3 .notifications .subTitle i {
  position: absolute;
  left: 5px;
  bottom: 19px;
  font-size: 18px;
}
.main .main-3 .notifications .subTitle input {
  width: 100%;
  height: 56px;
  border-radius: 20px;
  background-color: #ebf1f7;
  text-indent: 2.5em;
}
.main .main-3 .notifications .subcon .subcon-title {
  line-height: 58px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}
.main .main-3 .notifications .subcon .subcon-title span:nth-child(1) {
  float: left;
}
.main .main-3 .notifications .subcon .subcon-title span:nth-child(2) {
  float: right;
}
.main .main-3 .notifications .subcon .subcon-text {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.main .main-3 .notifications .subcon .subcon-text .tleft {
  flex: 2;
  max-width: 20%;
}
.main .main-3 .notifications .subcon .subcon-text .tleft img {
  border-radius: 50%;
}
.main .main-3 .notifications .subcon .subcon-text .tcenter {
  margin-left: 1em;
  flex: 6;
  max-width: 60%;
}
.main .main-3 .notifications .subcon .subcon-text .tcenter h3 {
  font-size: 16px;
  line-height: 25px;
}
.main .main-3 .notifications .subcon .subcon-text .tcenter p {
  font-size: 13px;
}
.main .main-3 .notifications .subcon .subcon-text .tright {
  position: relative;
  text-align: right;
  flex: 2;
  max-width: 20%;
}
.main .main-3 .notifications .subcon .subcon-text .tright p {
  font-size: 13px;
  line-height: 25px;
}
.main .main-3 .notifications .subcon .subcon-text .tright i {
  font-size: 22px;
  cursor: pointer;
}
.main .main-3 .notifications .subcon .subcon-text .tright ul {
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}
.main .main-3 .notifications .subcon .subcon-text .tright ul li {
  line-height: 36px;
  width: 100px;
}
.main .main-3 .notifications .subcon .subcon-text .tright ul li:hover {
  background-color: grey;
}
.main .main-6 {
  height: inherit;
  flex-grow: 6;
  max-width: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ffffff;
}
