/*PC样式900-1600之间*/
//用户首页开始
.main {
  display: flex;
  flex-direction: row;
  align-items: start;

  .main-1 {
    flex-grow: 0.8;
    overflow-y: auto;
    overflow-x: hidden;
    height: inherit;
    background-color: #ffffff;
    ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      li{
        height: 90px;
        a{
          font-size: 23px;
        }
        a:hover i{
          color: #2787f5;
        }
      }
      li:nth-child(7){
        a{
          display: inline-block;
          border-radius: 50%;
          overflow: hidden;
          img{
            max-height: 48px;
            max-width: 48px;
          }
        }
      }
      li:nth-child(1){
        margin-top: 60px;
        height: 120px;
      }
    }
  }

  .main-3 {
    height: inherit;
    flex-grow: 3;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f6f9fb;
  }

  .main-6 {
    height: inherit;
    flex-grow: 6;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
  }
}